/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin: 10px 0px 0px 0px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/******** header *******/
nav { 
    display: flex;
    gap: 25px; 
}
nav a {
    padding-top: 20px;
    border-top: solid 4px transparent;
}

nav a:hover {
    border-top: #0065FC solid 4px;
    color: #0065FC;
}


.logo_accueil {
    width: auto;
    height: 19px;
    padding-top: 20px;
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

/******** recherche *******/

.fa-location-dot {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}


.bar_search:focus-visible {
    outline: none;
}

.bar_search {
    border: none;
    text-align: center;
    border-bottom: #F2F2F2 solid 1px;
    border-top: #F2F2F2 solid 1px;
}

.button_search {
    background-color: #0065FC;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
    

.research_bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    border-radius: 15px;
    height: 49px;
}

.button_loupe {
    background-color: #0065FC;
    border: none;
    color: #ffffff;
    display: none;
    padding: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

/**** filtres ****/


.all_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.filtres {
    display: flex;
    flex-direction: row;
}

.button_filtres {
    border-radius: 25px;   
    width: 173px;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 1em;
    border: #F2F2F2 solid 2px;
    cursor: pointer;
    margin: 5px;
    height: 50px;
}

.titreh2 {
    line-height: 5px;
    padding: 5px;
}


.text_button {
    padding: 5px;
}

.button_filtres:hover {
    background-color: #DEEBFF;
}

/*** info-filtres ***/

.recherche_info {
    display: flex;
    align-items: center;
    margin-bottom: auto;
    gap: 10px;
}
    
    

.fa-info {
    border: #F2F2F2 1px solid;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/****** Hebergements And Populaires ***********/



.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
  width: 65%; 
  background-color: var(--main-bg-color);
}

.ligne1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    
}

.card-subtitle {
    margin: 8px 0 8px 0px;
}

.ligne1 a {
    width: 30%;
}

.ligne1 .card {
    height: 95%;
}

.hebergements_photo {
   margin-bottom: 20px;
   margin-top: 20px;
    
}

.hebergements_photo img {
    height: 136px;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

.hebergements_photo .card-content {
    margin-left: 10px; 
    margin-bottom: 10px;
}

.afficher_hebergements {
    font-size: 20px;
    font-weight: bold;

}


/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******** Activités ********/

.titre_activites {
   padding-left: 20px;
   padding-top: 50px;
   padding-bottom: 20px;
}
.activites_container {
    display: flex;
    gap: 24px;
}

.activites_img {
    width: 100%;
    height: 86%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites_box {
    border: #F2F2F2 1px solid;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 426px;
}

.activites_box h3 {
    margin: auto;
    padding: 10px 0px 0px 12px;
  }

/******** Footer ********/

footer {
    background-color: #F2F2F2;
    margin-top: 50px;
}

.list_footer {
    display: flex;
    width: 100%;
}
.list_footer ul {
    list-style: none;
    width: 30%;
}

footer li {
    margin: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
    .activites_box {
        height: 272px;
    }

    .activites_img {
        height: 78%;
    }

    .activites_box h3 {
        font-size: 19px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .filtres {
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
    }


 
    
    .activites-container article{
        display: flex;
        flex-direction: column;
    }


}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .research_bar {
        justify-content: center;
    }

    .button_search {
        display: none;
    }

    .button_loupe {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    nav {
        display: flex;
        margin-bottom: 50px;
        text-align: center;
        margin-top: 20px;
        gap: initial;
    }

    nav a {
        border-bottom: solid 4px #F2F2F2;
        width: 50%;
        padding-bottom: 20px;
        border-top: none;
        font-size: 25px;
        padding-left: 18px;
    }

    nav a:hover {
        border-bottom: #0065FC solid 4px;
        border-top: none;
        width: 50%;
        padding-bottom: 20px;   
    }

    header div {
        display: flex;
        justify-content: center;
    }

 
    header {
        display: initial;
        margin: 0px;
    }

    .main-container {
        padding: 0px;
    }

    header div {
        display: flex;
        justify-content: center;
    }

    .logo_accueil {
        width: 28%;
        padding-top: 20px;
        height: auto;
    }

    h1 {
        text-align: center;
    }

    .h1_paragraphe {
        text-align: center;
    }

    .filtres {
       display: initial;
       width: 100%;
    }

    .all_buttons {
        width: 100%;
        align-items: center;
        gap: initial;
    }

    .button_filtres {  
        width: 46%;
    }
   
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements {
        background-color: #ffffff;
    }

    .section-title {
        font-size: 32px;
    }

    .ligne1 {
        flex-direction: column;
        gap: 20px;  
    }

    .ligne1 a {
        width: 100%;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires {
        background-color: var(--main-bg-color);
    }

    .activites_container {
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: center;
    }

    .activites_box {   
        width: 92%;
    }

    .list_footer {
        display: flex;
        width: 100%;
        flex-direction: column;
        font-size: 20px;
    }


}

